<!doctype html>
<html lang="en" ng-app="QFT">

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quotes From Tamriel</title>
  <link rel="stylesheet" href="/app/css/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<!--

 _        _______  _       __________________ _
| \    /\(  ____ \( (    /|\__    _/\__   __/( (    /|
|  \  / /| (    \/|  \  ( |   )  (     ) (   |  \  ( |
|  (_/ / | (__    |   \ | |   |  |     | |   |   \ | |
|   _ (  |  __)   | (\ \) |   |  |     | |   | (\ \) |
|  ( \ \ | (      | | \   |   |  |     | |   | | \   |
|  /  \ \| (____/\| )  \  ||\_)  )  ___) (___| )  \  |
|_/    \/(_______/|/    )_)(____/   \_______/|/    )_)

Coded with love in Beijing by @Kenjinp (http://kenjin.me)

-->

<body ng-controller="ApplicationController">

  <!--injected views-->
  <div class="page {{ pageClass }}" ng-view></div>

  <a href="#/new" id="new"><p>+new quote</p></a>
  <a href="#/quotes" id="allquotes"><p>All Quotes</p></a>

  <!-- build:js js/build/app.min.js -->
  <script src="/app/lib/vendors/reddit.min.js" type="text/javascript"></script>
  <script src="/app/lib/vendors/jquery.min.js" type="text/javascript"></script>
  <script src="/app/js/foundation.min.js" type="text/javascript"></script>
  <script src="/app/lib/angular/angular.js" type="text/javascript"></script>
  <script src="/app/lib/angular/angular-route.js" type="text/javascript"></script>
  <script src="/app/js/routes.js" type="text/javascript"></script>
  <script src="/app/js/controllers.js" type="text/javascript"></script>
  <script src="/app/js/services.js" type="text/javascript"></script>
  <script src="/app/js/directives.js" type="text/javascript"></script>
  <script src="/app/js/filters.js" type="text/javascript"></script>
  <!-- endbuild -->

</body>
</html>
